.user{
    display:flex;
    align-items: center;
}
.userimg{
    border:3px solid transparent;
    border-radius:24px;
    width:48px;
    height:48px;
    background-color: #ffffff33;
}
.username{
    border: 3px solid transparent;
    background-color: #ffffff33;
}
.talking .username {
    border: 3px solid #00ff00;
}
.talking .userimg {
    border: 3px solid #00ff00;
}