
$col1: beige;
$col2: white;
$highlight: brown;
$iconsize: 24px;

body {
    font-family: Tahoma, sans-serif;
}

@import "include/app.scss";
@import "include/settings.scss";
@import "include/video.scss";
@import "include/custom-select.scss";
@import "include/text.scss";