
$col1: lavender;
$col2: lightcyan;
$highlight: lightpink;
$iconsize: 32px;

body {
    font-family: 'Brush Script MT', cursive;
}

@import "include/app.scss";
@import "include/settings.scss";
@import "include/video.scss";
@import "include/custom-select.scss";
@import "include/text.scss";

.room:hover{
    background-color: lightpink;
}
.user:hover{
    background-color: lightpink;
}
.contextmenuitem:hover{
    background-color: lightpink;
}
.message:hover{
    background-color: lightgreen;
}