*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    width:100%;
    height:100%;
    /*overflow: hidden;*/
}

html {
    display: flex;
    line-height: 1.15;
    width:100%;
    height:100%;
}

.app {
    height: 100%;
    width: 100%;
    position: relative;
}

.window {
    position: absolute;
    height: 100%;
    width: 100%;
}

.appwindow {
    display:flex;
    flex-direction: row;
}

.roomlist, .userlist{
    flex-grow:0;
    background-color: $col1;
    width:calc(6 * #{$iconsize});
    
    overflow-y: auto;
    overflow-x: hidden;
    flex-shrink: 0;
    cursor: default;
}

.coreview {
    flex-grow: 1;
    background-color: $col2;
    min-width:60vw;
}
.appContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.room, .user {
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    cursor: default;
    align-items: center;
}
.roomusers{
    padding-left:24px;
    cursor: default;
}

.loginWindow {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: $col2;
}
.login {
    background-color: $col1;
    display:flex;
    flex-direction: column;
    padding:40px;
    border: 0px;
    border-radius: 50px;
    align-items:center;
}
.useronline{
    color:$highlight;
}
.usertalking{
    color:$highlight;
}
.roomimg {
    width: $iconsize;
    height: $iconsize;
    border:0px;

}
.userimg{
    width: $iconsize;
    height: $iconsize;
    border: 0px;
    border-radius: 12px;
}

.contextmenuouter{
    position:relative;
    cursor: default;
}

.contextmenu{
    position: absolute;
    cursor: default;
    left: -1000px;  
    top: -1000px;
    z-index: 5;
    background-color: lightcyan;
    border: #394a6d 1px solid;
    padding:5px;
}

.contextmenuitem {
    border-bottom: 1px solid #394a6d;
}


code{
    border:darkgray 1px solid;
    background-color: black;
    color:greenyellow;
}
.button {
    width: $iconsize;
}